<mat-card class="h-100 ">
    <mat-card-content class="d-flex flex-column">
        <div class="d-flex mb-2 gap-3">
            <button mat-stroked-button color="primary" (click)="onSubmit()">Add</button>
            <button mat-stroked-button color=accent (click)="onUpdate()">Update</button>
            <button mat-stroked-button (click)="onDelete()">Delete</button>
        </div>
        <div class="d-flex flex-column gap-3">
            <form [formGroup]="form"  class="row col-7">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput  formControlName="firstName">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput  formControlName="lastName">
                  </mat-form-field>
            </form>
            <div>
                <h4>Customer List</h4>
                <table mat-table [dataSource]="customerDataSource" class="mat-elevation-z8 w-100 " matTooltip="Select to edit details">

                    <ng-container matColumnDef="firstName">
                      <th mat-header-cell *matHeaderCellDef> First Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="lastName">
                      <th mat-header-cell *matHeaderCellDef> Last Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>
                  
                  
                    <tr mat-header-row *matHeaderRowDef="customerHeader"></tr>
                    <tr mat-row style="cursor:pointer" *matRowDef="let row; columns: customerHeader;"  (click)="onSelectCustomer(row.id)"></tr>
                </table>
            </div>
            <div>
                <h4>Customer Purchases</h4>
                <table mat-table [dataSource]="customerPurchasesDataSource" class="mat-elevation-z8 w-100 " matTooltip="Select to edit details">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                      </ng-container>
                    
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="productHeader"></tr>
                    <tr mat-row style="cursor:pointer" *matRowDef="let row; columns: productHeader;"></tr>
                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>